@page "/teams/edit/{Id:int}"

<h3>Editar Equipo</h3>

@if(teamDTO is null)
{
    <Loading/>
}
else
{
    <TeamsForm @ref="teamForm" TeamDTO="teamDTO" OnValidSubmit="EditAsync" ReturnAction="Return"/>
}
