@page "/countries"

<h3>Paises</h3>

<div>
    <a class="btn btn-primary" href="/countries/create">Nuevo pais</a>
</div>

<GenericList MyList="Countries">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>País</th>
                    <th>Nº Equipos</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var country in Countries!)
                {
                    <tr>
                        <td>
                            @country.Name
                        </td>
                        <td>
                            @country.TeamsCount
                        </td>
                        <td>
                            <a class="btn btn-warning" href="/countries/edit/@country.Id">Editar</a>
                            <a class="btn btn-danger" @onclick=@(() => DeleteAsync(country))>Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>




